$color-primary: 205,100%;
$color-neutral: 0,0%;
$lightness-0: 0%;
$lightness-10: 10%;
$lightness-20: 20%;
$lightness-25: 25%;
$lightness-30: 30%;
$lightness-35: 35%;
$lightness-40: 40%;
$lightness-50: 50%;
$lightness-60: 60%;
$lightness-70: 70%;
$lightness-80: 80%;
$lightness-90: 90%;
$lightness-95: 95%;
$lightness-98: 98%;
$lightness-99: 99%;
$lightness-100: 100%;
:root{
  --color-primary-0: hsl(#{$color-primary},#{$lightness-0});
  --color-primary-10: hsl(#{$color-primary},#{$lightness-10});
  --color-primary-20: hsl(#{$color-primary},#{$lightness-20});
  --color-primary-25: hsl(#{$color-primary},#{$lightness-25});
  --color-primary-30: hsl(#{$color-primary},#{$lightness-30});
  --color-primary-35: hsl(#{$color-primary},#{$lightness-35});
  --color-primary-40: hsl(#{$color-primary},#{$lightness-40});
  --color-primary-50: hsl(#{$color-primary},#{$lightness-50});
  --color-primary-60: hsl(#{$color-primary},#{$lightness-60});
  --color-primary-70: hsl(#{$color-primary},#{$lightness-70});
  --color-primary-80: hsl(#{$color-primary},#{$lightness-80});
  --color-primary-90: hsl(#{$color-primary},#{$lightness-90});
  --color-primary-95: hsl(#{$color-primary},#{$lightness-95});
  --color-primary-98: hsl(#{$color-primary},#{$lightness-98});
  --color-primary-99: hsl(#{$color-primary},#{$lightness-99});
  --color-primary-100: hsl(#{$color-primary},#{$lightness-100});
  --color-neutral-0: hsl(#{$color-neutral},#{$lightness-0});
  --color-neutral-10: hsl(#{$color-neutral},#{$lightness-10});
  --color-neutral-20: hsl(#{$color-neutral},#{$lightness-20});
  --color-neutral-25: hsl(#{$color-neutral},#{$lightness-25});
  --color-neutral-30: hsl(#{$color-neutral},#{$lightness-30});
  --color-neutral-35: hsl(#{$color-neutral},#{$lightness-35});
  --color-neutral-40: hsl(#{$color-neutral},#{$lightness-40});
  --color-neutral-50: hsl(#{$color-neutral},#{$lightness-50});
  --color-neutral-60: hsl(#{$color-neutral},#{$lightness-60});
  --color-neutral-70: hsl(#{$color-neutral},#{$lightness-70});
  --color-neutral-80: hsl(#{$color-neutral},#{$lightness-80});
  --color-neutral-90: hsl(#{$color-neutral},#{$lightness-90});
  --color-neutral-95: hsl(#{$color-neutral},#{$lightness-95});
  --color-neutral-98: hsl(#{$color-neutral},#{$lightness-98});
  --color-neutral-99: hsl(#{$color-neutral},#{$lightness-99});
  --color-neutral-100: hsl(#{$color-neutral},#{$lightness-100});
}
@media (prefers-color-scheme: dark){
  
}
