$color-primary: 205,100%;
$color-neutral: 0,0%;
$lightness-0: 0%;
$lightness-10: 10%;
$lightness-20: 20%;
$lightness-25: 25%;
$lightness-30: 30%;
$lightness-35: 35%;
$lightness-40: 40%;
$lightness-50: 50%;
$lightness-60: 60%;
$lightness-70: 70%;
$lightness-80: 80%;
$lightness-90: 90%;
$lightness-95: 95%;
$lightness-98: 98%;
$lightness-99: 99%;
$lightness-100: 100%;
:root{
  
}
@media (prefers-color-scheme: dark){
  
}
