$color-primary: 205,100%;
$color-neutral: 0,0%;
$text-san-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$text-monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
*,*:before,*:after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark){
  :root{
    --color-primary: hsl($color-primary,50%);

  }
}
body{
  display: flex;
  flex-direction: column;
  font: 400 16px/24px $text-san-serif;
  letter-spacing: 0.5px;
  background-color: var(--color-neutral-98);
  color: var(--color-neutral-0);
}
.nav-drawer{
  width: 256px;
  height: calc(100vh - 64px - 16px);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(64px + 8px);
  left: 8px;
}
.site-header{
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__menu-btn{

  }
  &__name{
    font: 400 22px/28px $text-monospace;
    letter-spacing: 0px;
  }
  &__nav{
    display: flex;
    align-items: center;
  }
}
.site-footer{
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 400 18px/normal $text-san-serif;
  &__icon-links{
    padding: 12px;
  }
  &__icon{
    width: 24px;
    height: auto;
  }
}
